article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{background:#fff;color:#000;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:"\201C" "\201D" "\2018" "\2019"}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*/
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:16px;font-size:1.6rem}

html {
	font-size:62.5%;
	height:100%;
}

body {
	font-size:16px;
	font-size:1.6rem;
	color:#777;
	background-color:#fff;
	font-family:'montserrat',arial,helvetica,'helvetica neue',sans-serif;
	font-weight:400;
	font-style:normal;
	height:100%;
	margin:0;
	padding:0;
	margin-bottom:0;
	border-top:4px solid ;
	-webkit-font-smoothing:antialiased;
	-webkit-overflow-scrolling:touch
}

.loader {
	background:#fff;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:1000
}

.responsive {
	width:100%;
	height:auto;
}

.hr {
	width:150px;
	border-top:2px solid #c53652;
	margin:54px 0;
}

.is-hidden {
	display:none;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'sorts mill goudy', "times new roman", georgia, serif;
	padding:0;
	margin:0;
}

h1 {
	color:#cacaca;
	font-size:200px;
	font-size:20rem;
	line-height:250px;
	line-height:20rem;
	font-weight:600;
}

h2 {
    color: #444;
    font-size: 80px;
    font-size: 8rem;
    line-height: 56px;
    line-height: 5.6rem;
    font-weight: 700;
}

h3 {
	font-size:24px;
	font-size:2.4rem;
	font-weight:400;
	color:;
}

.cursor {
	font-size:200px;
	font-size:20rem;
	line-height:250px;
	line-height:20rem;
	font-weight:600;
	opacity:0;
	font-weight:100;
	-webkit-animation:blink .9s infinite;
	-moz-animation:blink .9s infinite;
	-ms-animation:blink .9s infinite;
	-o-animation:blink .9s infinite;
	animation:blink .9s infinite;
}

p {
	margin:0 0 12px;
	padding:0;
	font-size:16px;
	font-size:1.6rem;
	line-height:24px;
	line-height:2.4rem;
	color:inherit;
	text-align:left;
}

a {
	text-decoration:none;
}

a:hover {
	color:#007c64;
}

.left {
	text-align:left;
}

.right {
	text-align:right;
}

.center {
	text-align:center;
}

.section-title {
	margin-bottom:60px;
	border-bottom: 5px solid
}


.tags {
	color:#aaa;
	font-size:16px;
	font-size:1.6rem;
	line-height:21px;
	line-height:2.1rem;
}

.container {
	max-width:1440px;
	padding:18px;
	margin:0 auto;
}

.wrapper {
	max-width:1008px;
	margin:0 auto;
	padding:0 24px;
}

.clear:before,.clear:after {
	content:"";
	display:table;
}

.clear:after {
	clear:both;
}

.clear {
	zoom:1;
}

.inline {
	display:inline;
}

.inline-block {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
}

.row:before,.row:after {
	content:"";
	display:table;
}

.row:after {
	clear:both;
}

.row {
	zoom:1;
}

.page-section {
	border-bottom: 1px solid #f0f0f0;
	position: relative;
}



.first-section {
	margin-top:120px;
}


.nav {
	float:right;
	display:-moz-inline-stack;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
}

.nav ul {
	list-style:none;
	padding:0;
	margin-right:12px;
}

.nav li {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	margin-left:24px;
}

.nav a {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	padding:0 6px 6px 0;
	color:#777;
}

.nav a:hover {
	color:#444;
}

.nav .current {
	color:#c53652;
}


a.nav-toggle {
	display:none;
}


.site-header {
	padding:12px;
	display:block;
	position:absolute;
	width:100%;
	right:0;
	top:0;
	z-index:99;
}

.site-header:before,.site-header:after {
	content:"";
	display:table;
}

.site-header:after {
	clear:both;
}

.site-header {
	zoom:1;
}


.logo {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	height:60px;
	width:60px;
}

.logo .logo-content {
	font-size:30px;
	font-size:3rem;
	font-weight:600;
	text-align:center;
	position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	color:#444;
}



.home {
	width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 0;
    background: url(bg-about.png) no-repeat scroll 30% 0;
    background-size: cover;
    border-bottom: 1px solid #f0f0f0;	
}

@media (min-width: 30.0625em) and (max-width: 40.25em) {
	.home {
		height:100%;
	}
}

@media (min-width: 40.31em) {
	.home {
		height:100%;
	}
}

@media (min-width: 30.0625em) and (max-width: 40.25em) {
	.box-wrapper {
		position:relative;
		top:50%;
		-webkit-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}
}

@media (min-width: 40.31em) {
	.box-wrapper {
		position:relative;
		top:50%;
		-webkit-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}
}


.next {
    position: absolute;
    left: 50%;
    width: 30px;
    bottom: 74px;
    text-align: center;
    display: block;
    -webkit-animation: fly 2s ease-in-out;
    -moz-animation: fly 2s ease-in-out;
    -o-animation: fly 2s ease-in-out;
    animation: fly 2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.wellcome {
	position:absolute;
	left:60%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}

.box {
	width:600px;
	height:450px;
	margin:0 auto;
}

@media (min-width: 40.31em) {
	.box .name {
		position:relative;
		top:50%;
		-webkit-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}
}


@media (min-width: 30.0625em) and (max-width: 40.25em) {
	.box {
		width:auto;
		height:auto;
		margin:12px 24px;
		padding:30px 18px 18px;
	}
}

.box h1 {
	color:#444;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
}

.box .name-title {
    color: #444;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 31px;
    line-height: 3.1rem;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    text-align: center;
    margin-top: 12px;
}

.box p {
	text-align:center;
	color:#777;
	font-size:18px;
	font-size:1.8rem;
	line-height:27px;
	line-height:2.7rem;
	margin-top:30px;
}

.work {
	max-width:60em;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:90px;
}

.work:after {
	content:" ";
	display:block;
	clear:both;
}


.work header {
	width:31.42857%;
	float:left;
	margin-right:2.85714%;
}


.work .working-with {
	width:65.71429%;
	float:right;
	margin-right:0;
}


.work .working-with p {
	font-size:18px;
	font-size:1.8rem;
	line-height:27px;
	line-height:2.7rem;
}

.about:before,.about:after {
	content:"";
	display:table;
}

.about:after {
	clear:both;
}

.about {
	zoom:1;
}

.about-content {
	width:75%;
	float:right;
}


.about-content p {
	font-size:21px;
	font-size:2.1rem;
	line-height:27px;
	line-height:2.7rem;
}

.about-side {
	width:25%;
	float:left;
	margin-left:0;
}

p.intro {
	font-size:21px;
	font-size:2.1rem;
	line-height:30px;
	line-height:3rem;
	color:#444;
	padding-bottom:24px;
}

.site-footer {
	clear:both;
	display:block;
	padding:15px 0;
	color:#a2a2a2;
	position:relative;
	bottom:0;
	background:#fff;
}

.site-footer:before,.site-footer:after {
	content:"";
	display:table;
}

.site-footer:after {
	clear:both;
}

.site-footer {
	zoom:1;
}



.site-footer p {
	font-size:14px;
	font-size:1.4rem;
	margin:0;
}

/*************************
///// BLINK KEYFRAME /////
*************************/

@keyframes blink {
	0% {opacity:1;}
	50% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes blink {
	0% {opacity:1;}
	50% {opacity:0;}
	100% {opacity:1;}
}

@-moz-keyframes blink {
	0% {opacity:1;}
	50% {opacity:0;}
	100% {opacity:1;}
}

@-ms-keyframes blink {
	0% {opacity:1;}
	50% {opacity:0;}
	100% {opacity:1;}
}

@-o-keyframes blink {
	0% {opacity:1;}
	50% {opacity:0;}
	100% {opacity:1;}
}

/*************************
///// FLY KEYFRAME /////
*************************/

@-webkit-keyframes fly {
    0%,
  100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    };
}

@-ms-keyframes fly {
    0%,
  100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    };
}

@-moz-keyframes fly {
    0%,
  100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    };
}

@-o-keyframes fly {
    0%,
  100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    };
}

@keyframes fly {
    0%,
  100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    };
}

@media (min-width: 40.31em) {
	.logo.is-hidden {
		display:none;
	}

	.page-section {
		min-height:100%;
	}
}


@media (max-width: 30em) {
	.site-header {
		padding:12px 24px;
		border-bottom:1px solid #cacaca;
		position:static;
		margin-bottom:18px;
	}

	.logo {
		height:40px;
		width:40px;
		border-width:5px;
	}
	
	.logo .logo-content {
		font-size:24px;
		font-size:2.4rem;
	}

	.box {
		width:auto;
		height:auto;
		margin:12px 24px;
		padding:30px 18px 18px;
	}

	.section-title {
		margin-bottom:30px;
	}

	.page-section {
		padding-top:30px;
	}

	.first-section {
		margin-top:0;
	}

	.nav {
		float:none;
		display:none;
	}
	
	.nav li {
		display:block;
		text-align:left;
		width:100%;
		margin-left:0;
	}
	
	.nav li:last-child a {
		margin-bottom:-12px;
	}
	
	.nav a {
		display:block;
		width:100%;
		padding:12px 0;
		font-weight:600;
	}

	a.nav-toggle {
		display:-moz-inline-stack;
		display:inline-block;
		vertical-align:middle;
		*vertical-align:auto;
		zoom:1;
		*display:inline;
		float:right;
		padding:12px 0;
	}

	.about-content {
		clear:both;
		width:100%;
		float:left;
		margin-left:0;
		margin-right:0;
		padding-right:0;
		float:none;
	}

	.about-side {
		clear:both;
		width:100%;
		float:left;
		margin-left:0;
		margin-right:0;
		float:none;
	}


	.work {
		margin-bottom:30px;
	}

	.work header {
		clear:both;
		width:100%;
		float:left;
		margin-left:0;
		margin-right:0;
	}
	
	.work header .tags {
		display:none;
	}

	.work .working-with {
		clear:both;
		width:100%;
		float:left;
		margin-left:0;
		margin-right:0;
	}

	.site-footer {
		margin-top:60px;
	}
}



